.todosProdutos {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.todosProdutos header div {
    display: flex;
    gap: 1rem;
}

.todosProdutos header div button {
    background-color: transparent;
    color: unset;
    outline: none;
    border: none;

    transition: .1s all ease-in-out;
}

.todosProdutos header div button:hover {
    background-color: #F3F5F9;
    transform: scale(1.04);
}

.todosProdutos p {
    align-self: flex-end;

    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #636363;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.tabelaProdutos {
    width: 100%;
    background: #F3F5F9;
    border-radius: 8px;
    padding: 2rem;
    border-collapse: collapse;
}

.tabelaProdutos thead {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.tabelaProdutos tbody td,
.tabelaProdutos thead th {
    text-align: start;
    padding: 1rem;
}

.rowData {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
    transition: .2s all ease-in-out;
}

.rowData:hover {
    background-color: #d9e1ed;
}

.rowData:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.rowData div {
    display: flex;
    gap: 2rem;
}

.rowData i {
    cursor: pointer;
    transition: .2s all ease-in-out;
}

.rowData i:hover {
    color: rgb(191, 82, 82);
}

.itemDetails {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 64%;
}

.image {
    min-width: 85px;
    height: 85px;
    background-color: #fff;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
}

.todosProdutos header {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.header div {
    display: flex;
    gap: .5rem;
    align-items: center;
}