.clientNav {
  background-color: #17223E;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  height: fit-content;
}

.buttonsArea {
  display: flex;
  gap: .5rem;
}


.homeContainer {
  width: 100%;
  padding: 2rem;
  background-color: #fafafa;
  color: #061237;

  display: flex;
  gap: 3rem;
}