.homeContainer {
  width: 100%;
  padding: 2rem;
  background-color: #fafafa;
  color: #061237;

  display: flex;
  gap: 3rem;
}

.homeContainer p {
  align-self: flex-end;

  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #636363;
}