@import url('https://fonts.googleapis.com/css?family=Material+Icons');

.navContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #17223E;
    align-items: center;

}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    border-bottom: rgba(255, 255, 255, .1) 1px solid;

}

.header h2 {
    font-weight: bold;
    font-size: 30px;
}

.header span {
    color: #9765D8;
}

.header .profilePic {
    display: flex;
    gap: 10px;
    align-items: center;
}

.productsArea {
    width: 80%;
    height: fit-content;
    padding: 5rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.productsArea h1 {
    font-size: 36px;
    font-weight: 700;
}

.productsArea .inputArea {
    background-color: white;
    display: flex;
    align-items: center;
    color: #99A0B0;
    padding: .5rem;
    width: 40%;
    gap: 1rem;
    border-radius: .5rem;
}

.productsArea .inputArea input {
    width: 100%;
    border: none;
    border-style: none;
    outline: none;
    background-color: white;
    color: #99A0B0;
}