@import url('https://fonts.googleapis.com/css?family=Material+Icons');

.navContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #17223E;
    align-items: center;

}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    border-bottom: rgba(255, 255, 255, .1) 1px solid;

}

.header h2 {
    font-weight: bold;
    font-size: 30px;
}

.header span {
    color: #9765D8;
}

.header .profilePic {
    display: flex;
    gap: 10px;
    align-items: center;
}