.todosProdutos {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.todosProdutos p {
    align-self: flex-end;

    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #636363;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.tabelaProdutos {
    width: 100%;
    background: #F3F5F9;
    border-radius: 8px;
    padding: 2rem;
    border-collapse: collapse;
}

.tabelaProdutos thead {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.tabelaProdutos tbody td,
.tabelaProdutos thead th {
    text-align: start;
    padding: 1rem;
}

.tabelaProdutos tbody tr td:nth-child(1) {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.itemDetails {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 64%;
}

.rowData:first-child {
    font-weight: 600;
    font-size: 14px;

    color: #235EE7;
}

.image {
    min-width: 85px;
    height: 85px;
    background-color: #fff;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
}

.todosProdutos header {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.header div {
    display: flex;
    gap: .5rem;
    align-items: center;
}